@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

/*html, body { margin: 0; } */

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }

body {
  background: #2D2F36 ;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

form {
  width: 450px;
  height: 370px;
  margin: -185px -225px;
  position: absolute;
  left: 50%;
  top: 50%;
}

#wrapper, label, #arrow, button span {
    -webkit-transition: all .5s cubic-bezier(.6,0,.4,1); 
    transition: all .5s cubic-bezier(.6,0,.4,1);
}

#wrapper { overflow: hidden; }

#sysadmin:checked, #inforg:checked ~ #wrapper { height: 178px; }

#sysadmin:checked ~ #wrapper #arrow { left: 32px; }
#inforg:checked ~ #wrapper #arrow { left: 222px; }

input[type=radio] { display: none; }

label {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  opacity: .5;
  margin-bottom: 15px;
  text-transform: uppercase;
}

label:hover {
  -webkit-transition: all .3s cubic-bezier(.6,0,.4,1);
  transition: all .3s cubic-bezier(.6,0,.4,1);
  opacity: 1;
}

label[for="sysadmin"] { margin-right: 50px; }
input[type=radio]:checked + label { opacity: 1; }

input[type=text],input[type=password] {
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Compass', sans-serif;
  height: 72px;
  width: 99.5%;
  margin-bottom: 10px;
  opacity: 1;
  text-indent: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button {
  background: #079BCF;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all .3s cubic-bezier(.6,0,.4,1);
  transition: all .3s cubic-bezier(.6,0,.4,1);
}

button:hover {
  background: #007BA5;
}

#arrow {
  height: 0;
  width: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  left: 32px;
}